*.iml
.gradle

/local.properties

/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/shelf

/.idea/$CACHE_FILE$
/.idea/assetWizardSettings.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
