---
---

@import "{{ site.theme }}";

img {
  clear: both;
  float: right;
  margin: 0 0 10px 10px;
}

img[alt="launcher"] {
  width: 64px;
}

img[alt^="dialog-"] {
  width: 200px;
}

img[alt^="screen-"] {
  width: 240px;
}
