---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    color: #242626;
    background-color: #e1e2e1;
    background-image: none;
    font-family: "Roboto", "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Aleo", "Copse", serif
}

ul {
    list-style: disc;
}

pre, code {
    background-color: #242626;
}

code {
    margin: 0;
    padding: 2px;
}

header {

    width: auto;
    background-color: #242626;
    background-image: none;

    p {
        font-family: "Aleo", "Copse", serif;
    }
    
}

div#banner {

    margin-right: -467px;
    background-color: #ffd007;
    border: 0 none transparent;

    span#logo {
        background-image: url({{ '/assets/image/ddc.png' | relative_url }});
        background-size: contain;
    }
    
    a.button.fork {
        margin-left: -410px;
    }

}

div.wrapper {
    
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
    
    nav {
    
        margin-left: -610px;
        width: 180px;
        
        ul {
            li {
            
                font-family: "Aleo", "Copse", serif;
                
                a {

                    font-weight: bold;
                    color: #242626;
                    
                    &:hover {
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        /* text-decoration-thickness: 2px; */
                        /* text-decoration-color: #ffd007; */
                    }
                    
                }
            }
        }
        
    }
    
    section {
        background-color: #f5f5f6;
        width: 760px;
        max-width: 92.68%;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    footer {
    
        position: relative;
        margin: 0 auto;
        width: 100%;
        left: 0;
        bottom: 0;

        p {
            text-align: center;
            font-size: small;
            margin: 0;
        }
        
    }
}

@media print, screen and (max-width: 1060px) {

    div#banner {        
        a.button.fork {
            left: 0;
            margin-left: 7px;
        }
    }

}
